<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularJS 101</title>

		<meta name="description" content="An introductory presentation on AngularJS">
		<meta name="author" content="Frank Reding">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<style>
			.three-boxes div {
				width: 33%;
				float: left;
			}
		</style>

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>AngularJS 101</h1>
					<h3>With the What and the How</h3>
					<p>
						<small><a href="mailto:frank@neontribe.co.uk">Frank Reding</a> / <a href="http://twitter.com/mottokrosh">@mottokrosh</a> / <a href="http://neontribe.co.uk">Neontribe</a></small>
					</p>
				</section>

				<section data-transition="zoom">
					<img src="img/cover1.png">
				</section>

				<section data-transition="zoom">
					<img src="img/cover2.png">
				</section>

				<section>
					<h2>Demo App Name</h2>
					<p>Names are hard</p>
					<ol>
						<li class="fragment">Gunimator 3000</li>
						<li class="fragment">GunoLib</li>
						<li class="fragment">Naked Library</li>
					</ol>
				</section>

				<section>
					<img src="img/nekkid1.png" style="max-height: 80%">
					<p class="fragment">Not a "To Do" App!</p>
				</section>

				<section>
					<h2>Demo Time!</h2>
					<p><img src="img/mc_hammer.gif"></p>
					<small><a href="http://kaihulme.blogspot.co.uk/2010/05/8bit-vomit-bullet-assets-horse-levels.html">8bit MC Hammer by Kai Hulme</a></small>
				</section>

				<section>
					<pre><code data-trim style="max-height: 600px">
&lt;!doctype html>
&lt;html lang="en">
  &lt;head>
    &lt;meta charset="utf-8">
    &lt;title>Nekkid Movie Library&lt;/title>
    &lt;link rel="stylesheet" href="css/main.css">
  &lt;/head>
  &lt;body>
    &lt;h1>Nekkid Movie Library&lt;/h1>
    &lt;section>
      &lt;h2>Add New Movie&lt;/h2>
      &lt;form name="AddEditForm">[...]&lt;/form>
    &lt;/section>
    &lt;section>
      &lt;h2>My Movies&lt;/h2>
      &lt;p>Sort by:
        &lt;button>Title&lt;/button>
        &lt;button>Rating&lt;/button>
      &lt;/p>
      &lt;ul>
        &lt;li>[...]&lt;/li>
      &lt;/ul>
    &lt;/section>
  &lt;/body>
&lt;/html>
					</code></pre>
				</section>

				<section>
					<h2>Let's add the Angular Library</h2>
					<img src="img/lib.jpg">

					<aside class="notes">Mention library vs full stack use</aside>
				</section>

				<section>
					<pre><code data-trim style="max-height: 600px">
&lt;body>
  &lt;h1>Nekkid Movie Library&lt;/h1>
  &lt;section>
    &lt;h2>Add New Movie&lt;/h2>
    &lt;form name="AddEditForm">[...]&lt;/form>
  &lt;/section>
  &lt;section>
    &lt;h2>My Movies&lt;/h2>
    &lt;p>Sort by:
      &lt;button>Title&lt;/button>
      &lt;button>Rating&lt;/button>
    &lt;/p>
    &lt;ul>
      &lt;li>[...]&lt;/li>
    &lt;/ul>
  &lt;/section>
  &lt;script src="js/angular.min.js">&lt;/script>
  &lt;script src="js/nekkid.js">&lt;/script>
&lt;/body>
					</code></pre>
				</section>

				<section>
					<h2>Declare App</h2>
					<pre><code data-trim>&lt;html lang="en" ng-app="nekkidApp"></code></pre>
					<p class="fragment">And in our `nekkid.js` file:</p>
					<pre class="fragment"><code class="javascript">var nekkidApp = angular.module('nekkidApp', []);</code></pre>

					<aside class="notes">
						- everything is a module<br>
						- empty array for dependency injection
					</aside>
				</section>

				<section>
					<h2>Declare a Controller</h2>
					<pre><code>&lt;body ng-controller="MovieCtrl"></code></pre>
					<p class="fragment">In `nekkid.js`:</p>
					<pre class="fragment"><code data-trim class="javascript">
nekkidApp.controller('MovieCtrl', function ($scope) {
});
					</code></pre>
				</section>

				<section data-background="img/scope.jpg"></section>

				<section>
					<h2>Live Binding</h2>
					<pre style="width: 900px;"><code data-trim>
&lt;p>
  &lt;label for="name">Title&lt;/label>
  &lt;input type="text" name="title" id="title" ng-model="movie.title" required>
&lt;/p>
					</code></pre>
				</section>

				<section>
					<h2>Live Form State</h2>
					<pre style="width: 900px;"><code data-trim>
&lt;button ng-click="saveMovie()" ng-disabled="!AddEditForm.$valid">
  Save
&lt;/button>
&lt;button ng-click="resetMovie()" ng-disabled="AddEditForm.$pristine">
  Cancel
&lt;/button>
					</code></pre>
				</section>

				<section>
					<h2>Repeaters</h2>
					<p><img src="img/nekkid2.png"></p>
				</section>

				<section>
					<pre><code data-trim style="max-height: 600px" class="javascript">
nekkidApp.controller('MovieCtrl', function ($scope) {
  // Initialise our library with a couple of sample movies
  $scope.movies = [
    {
      title: 'Naked Gun',
      actors: 'Leslie Nielsen, Priscilla Presley',
      score: 5
    },
    {
      title: 'Dracula: Dead and Loving It',
      actors: 'Leslie Nielsen, Mel Brooks, Peter MacNicol',
      score: 4
    },
    {
      title: 'Airplane!',
      actors: 'Robert Hays, Julie Hagerty, Leslie Nielsen',
      score: 5
    }
  ];

  // Sorting
  $scope.predicate = 'title';
});
					</code></pre>
				</section>

				<section>
					<h2>HTML</h2>
					<pre style="width: 1140px; margin-left: -90px;"><code data-trim>
&lt;p>Sort by:
  &lt;button ng-click="predicate = 'title'" ng-class="{ active: predicate == 'title' }">Title&lt;/button>
  &lt;button ng-click="predicate = 'score'" ng-class="{ active: predicate == 'score' }">Rating&lt;/button>
&lt;/p>
&lt;ul ng-repeat="m in movies | orderBy: predicate">
  &lt;li>
    &lt;span class="title">{{m.title}}&lt;/span>
    &lt;small>{{m.actors}}&lt;/small>
    &lt;span class="score">{{m.score | humanScore}}&lt;/span>
    &lt;span class="actions">
      &lt;button ng-click="editMovie(m)">Edit&lt;/button>
      &lt;button ng-click="deleteMovie(m)">&times;&lt;/button>
    &lt;/span>
  &lt;/li>
&lt;/ul>
					</code></pre>

					<aside class="notes">
						I know what you're going to say: custom filters? No way!
					</aside>
				</section>

				<section data-background="img/no_way.jpg"></section>

				<section>
					<h2>Defining a Custom Filter</h2>
					<pre><code data-trim class="javascript">
nekkidApp.filter('humanScore', function () {
  var map = ['Unrated', 'Rubbish', 'Poor', 'Alright', 'Great', 'Sweeeet!'];
  return function (score) {
    score = parseInt(score, 10);
    return map[score] ? map[score] : score;
  };
});
</code></pre>
				</section>

				<section>
					<h2>Custom Filter</h2>
					<p><img src="img/nekkid2.png"></p>

					<aside class="notes">U next: Let's talk directives.</aside>
				</section>

				<section>
					<img src="img/prime_directive.jpg">
				</section>

				<section>
					<h2>Custom Directive</h2>
					<p><img src="img/nekkid3.png"></p>
				</section>

				<section>
					<h2>The HTML</h2>
					<pre><code data-trim>
&lt;p>
  &lt;label for="score">Score&lt;/label>
  &lt;my-stars score="movie.score">&lt;/my-stars>
&lt;/p>
					</code></pre>
				</section>

				<section>
					<h2>The Javascript</h2>
					<p>Return a directive definition object</p>
					<pre><code data-trim class="javascript">
nekkidApp.directive('myStars', function () {
  return {
    restrict: 'E', // (E)lement, (A)ttribute, (C)lass
    scope: {
      movieScore: '=score' // isolate scope
    },
    templateUrl: 'stars.html'
  };
});
					</code></pre>
				</section>

				<section>
					<h2>Directive Template</h2>
					<pre><code data-trim style="width: 1000px; margin-left: -70px;">
&lt;div class="stars">
  &lt;img src="img/star_{{movieScore >= 1 ? 'on' : 'off'}}.png" ng-click="movieScore = 1">
  &lt;img src="img/star_{{movieScore >= 2 ? 'on' : 'off'}}.png" ng-click="movieScore = 2">
  &lt;img src="img/star_{{movieScore >= 3 ? 'on' : 'off'}}.png" ng-click="movieScore = 3">
  &lt;img src="img/star_{{movieScore >= 4 ? 'on' : 'off'}}.png" ng-click="movieScore = 4">
  &lt;img src="img/star_{{movieScore >= 5 ? 'on' : 'off'}}.png" ng-click="movieScore = 5">
&lt;/div>
					</code></pre>
				</section>

				<section>
					<h2>Et Voila</h2>
					<img src="img/stars.gif">
				</section>

				<section>
					<h2>Let's Evolve</h2>
					<img src="img/evolution.jpg">
				</section>

				<section>
					<h2>Yeoman.io</h2>
					<p><img src="img/yo.png" style="max-height: 300px;"></p>
					<p>One-line install using npm:</p>
					<pre style="max-width: 400px;"><code data-trim>npm install -g yo</code></pre>
				</section>

				<section class="three-boxes">
					<h2>Yeoman.io</h2>
					<div>
						<p><img src="img/tool-yo.png"></p>
						<p>Yo</p>
					</div>
					<div>
						<p><img src="img/tool-grunt.png"></p>
						<p>Grunt</p>
					</div>
					<div>
						<p><img src="img/tool-bower.png"></p>
						<p>Bower</p>
					</div>
					<aside class="notes">
						<p>historical<br>
						1. a man holding and cultivating a small landed estate; a freeholder.<br>
						2. a servant in a royal or noble household, ranking between a sergeant and a groom or a squire and a page.</p>
					</aside>
				</section>

				<section>
					<h2>Play Safe</h2>
					<p>Unit and Functional Tests with Karma</p>
					<p><img src="img/naked-gun-condom-scene.jpg"></p>
				</section>

				<section>
					<h2>Demo Time!</h2>
					<img src="img/demo_time.jpg" style="max-height: 500px;">
				</section>

				<section data-transition="concave">
					<h2>Stellar Links</h2>
					<ul>
						<li><a href="http://angular.codeschool.com/">angular.codeschool.com</a> &mdash; AngularJS on CodeSchool</li>
						<li><a href="https://famo.us/angular">famo.us/angular</a> &mdash; Famo.us &amp; Angular</li>
						<li><a href="http://ionicframework.com/">ionicframework.com</a> &mdash; Ionic</li>
						<li><a href="https://github.com/Mottokrosh/Presentations">github.com/Mottokrosh/Presentations</a> &mdash; This</li>
						<li><a href="https://github.com/hakimel/reveal.js">github.com/hakimel/reveal.js</a> &mdash; RevealJS</li>
						<li><a href="http://slid.es">slid.es</a> &mdash; Slides.com</li>
					</ul>
				</section>

				<section data-transition="linear" data-background="#ae2816" data-background-transition="slide">
					<img src="img/live_long.jpg" style="max-height: 600px">
				</section>

				<section>
					<h2>Any Questions?</h2>
					<img src="img/oops.jpg">
				</section>

				<section>
					<h2>The End</h2>
					<img src="img/ovation.jpg">
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
