/* Main CSS */
body {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background: #66c0de;
	color: #fff;
	font-family: 'robotolight', sans-serif;
}
a {
	color: #ff0084;
}
h1, h2, h3, h4 {
	font-family: 'roboto_slabregular', serif;
}
h1 {
	font-size: 3em;
	text-shadow: 3px 3px 0 #2488a9;
}
h2 {
	color: #2488a9;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 0;
}
button {
	background: #2488a9;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
}
button.large {
	font-size: 1.3em;
	padding: 5px 20px;
}
section {
	border-top: 2px solid #2488a9;
	margin-bottom: 3em;
}
form p {
	display: flex;
}
form p > * {
	flex: 3;
}
form p > label {
	flex: 1;
	align-self: center;
}
form p > button {
	flex: none;
	margin: 0 auto;
}
input, select {
	background: #d8ebf1;
	border: none;
	border-bottom: 2px solid #2488a9;
	padding: 5px;
	color: #2488a9;
	border-radius: 3px;
}
.stars img {
	max-width: 32px;
	height: auto;
	cursor: pointer;
}
