<!doctype html>
<html lang="en" ng-app="nekkidApp">
	<head>
		<meta charset="utf-8">
		<title>Nekkid Movie Library</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/fonts/roboto/roboto_light_macroman/stylesheet.css">
		<link rel="stylesheet" href="css/fonts/roboto-slab/robotoslab_regular_macroman/stylesheet.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-controller="MovieCtrl">
		<h1>Nekkid Movie Library</h1>

		<section>
			<h2>Add New Movie</h2>
			<form name="AddEditForm">
				<p>
					<label for="name">Title</label>
					<input type="text" name="title" id="title" ng-model="movie.title" required>
				</p>
				<p>
					<label for="actors">Notable Actors</label>
					<input type="text" name="actors" id="actors" ng-model="movie.actors">
				</p>
				<p>
					<label for="score">Score</label>
					<my-stars score="movie.score"></my-stars>
				</p>
				<p>
					<label></label>
					<span>
						<button ng-click="saveMovie()" class="large" ng-disabled="!AddEditForm.$valid">Save</button>
						<button ng-click="resetMovie()" class="large" ng-disabled="AddEditForm.$pristine">Cancel</button>
					</span>
				</p>
			</form>
		</section>

		<section>
			<h2>My Movies</h2>
			<p>Sort by:
				<button ng-click="predicate = 'title'" ng-class="{ active: predicate == 'title' }">Title</button>
				<button ng-click="predicate = 'score'" ng-class="{ active: predicate == 'score' }">Rating</button>
			</p>
			<ul ng-repeat="m in movies | orderBy: predicate">
				<li>
					<span class="title">{{m.title}}</span>
					<small>{{m.actors}}</small>
					<span class="score">{{m.score | humanScore}}</span>
					<span class="actions">
						<button ng-click="editMovie(m)">Edit</button>
						<button ng-click="deleteMovie(m)">&times;</button>
					</span>
				</li>
			</ul>
		</section>

		<script src="js/prefixfree.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
